{% extends 'pages/login_pages/login_base.html' %}

<!-- #region[Yellow] title -->

{% block title %} Create a New Password {% endblock %}

<!-- #endregion -->

<!-- #region[Red] Content -->

{% block content %}

{% load static %}
<style>
  /* .signup {
      background: #000000;
      --gap: 5em;
      --line: 1px;
      --color: rgba(255, 255, 255, 0.2);
    
      background-image: linear-gradient(
          -90deg,
          transparent calc(var(--gap) - var(--line)),
          var(--color) calc(var(--gap) - var(--line) + 1px),
          var(--color) var(--gap)
        ),
        linear-gradient(
          0deg,
          transparent calc(var(--gap) - var(--line)),
          var(--color) calc(var(--gap) - var(--line) + 1px),
          var(--color) var(--gap)
        );
      background-size: var(--gap) var(--gap);
    }  */
  .signup {
    background: radial-gradient(45.2% 36.8% at 50% 41.099999999999994%,
        rgba(79, 0, 250, 0.25) 0%,
        rgba(0, 2, 18, 0) 100%);
  }

  /* .signup {
      background-image: url("https://assets-global.website-files.com/65301d49e87fbf23cc9a1e60/654cd27797dfda19022b3176_bg.png");
      background-position: 50% -15%;
      background-repeat: no-repeat;
      background-size: 100vw;
      background-attachment: scroll;
      position: relative;
      overflow: hidden;
    }
  
    
    .signup{
      background-position: 50% 0;
    } */


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

  #nour {
    align-items: center;
    justify-content: center;
    display: flex;

  }
</style>
<section class="signup">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 " id="nour">
        <div>
          <img src="{% static 'images/log/newpass.png' %}" alt="">
        </div>
      </div>
      <div class="col-xl-7 order-lg-2">
        <div class="form-conainer">

          <div>
            <form action="{% url 'new-password' %}" method="POST" autocomplete="off">
              {% csrf_token %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              <div class="row g-3">


                <div class="col-lg-12 mb-2">
                  <div class="form-container2 position-relative">
                    <input type="password" class="form-control shadow-none" id="passwordInput" name="password"
                      placeholder="Password" required>
                    <button type="button" class="aai-form-eye" onclick="togglePasswordVisibility2()">
                      <svg id="eyeIcon" width="25" height="24" viewBox="0 0 25 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.40625 3L21.4062 21" stroke="#718096" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M10.9907 10.5869C10.6154 10.9619 10.4045 11.4707 10.4043 12.0012C10.4041 12.5317 10.6147 13.0406 10.9897 13.4159C11.3647 13.7912 11.8735 14.0021 12.404 14.0023C12.9345 14.0025 13.4434 13.7919 13.8187 13.4169"
                          stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                          d="M9.76925 5.36506C10.6267 5.11978 11.5144 4.9969 12.4062 5.00006C16.4062 5.00006 19.7392 7.33306 22.4062 12.0001C21.6283 13.3611 20.7942 14.5241 19.9032 15.4881M17.7633 17.3491C16.1323 18.4491 14.3483 19.0001 12.4062 19.0001C8.40625 19.0001 5.07325 16.6671 2.40625 12.0001C3.77525 9.60506 5.31925 7.82506 7.03825 6.65906"
                          stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </div>
                </div>

                <div class="col-lg-12 mb-2">
                  <div class="form-container2 position-relative">
                    <input type="password" class="form-control shadow-none" name="cpassword" id="cpasswordInput"
                      placeholder="Confirm Password" required>

                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="d-grid">
                    <button class="signbtn" type="submit" name="change-password" value="Change">
                      Submit
                    </button>
                  </div>
                </div>
              </div>

            </form>

            <script>
              function togglePasswordVisibility2() {
                var passwordInput = document.getElementById('passwordInput');
                var cpasswordInput = document.getElementById('cpasswordInput');
                var eyeIcon = document.getElementById('eyeIcon');

                if (passwordInput.type === 'password') {
                  passwordInput.type = 'text';
                  cpasswordInput.type = 'text';
                  eyeIcon.innerHTML = '<path d="M3 12H21" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>';
                } else {
                  passwordInput.type = 'password';
                  cpasswordInput.type = 'password';
                  eyeIcon.innerHTML = '<path d="M3.40625 3L21.4062 21" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.9907 10.5869C10.6154 10.9619 10.4045 11.4707 10.4043 12.0012C10.4041 12.5317 10.6147 13.0406 10.9897 13.4159C11.3647 13.7912 11.8735 14.0021 12.404 14.0023C12.9345 14.0025 13.4434 13.7919 13.8187 13.4169" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.76925 5.36506C10.6267 5.11978 11.5144 4.9969 12.4062 5.00006C16.4062 5.00006 19.7392 7.33306 22.4062 12.0001C21.6283 13.3611 20.7942 14.5241 19.9032 15.4881M17.7633 17.3491C16.1323 18.4491 14.3483 19.0001 12.4062 19.0001C8.40625 19.0001 5.07325 16.6671 2.40625 12.0001C3.77525 9.60506 5.31925 7.82506 7.03825 6.65906" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>';
                }
              }
            </script>
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock %}

<!-- #endregion -->